.footer {
  width: 100%;
  display: flex;
  background-color: #eef2ff;
  align-self: flex-end;
}

.btn-group {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  border-top: none;
  border-bottom: none;
}

.amount {
  width: 30%;
  color: #494966;
}

.filter-btn {
  font-size: 18px;
  width: 20%;
}

.active {
  background-color: rgba(106, 112, 129, 0.6);
  color: #ffffff;
}